<a href="https://colab.research.google.com/github/saipavansarakanam123/twitter-/blob/main/twitter_txt_sumer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Classroom/int246 project/newdatafile.csv')
df

       Sl no  ... Feeling
0          1  ...   happy
1          2  ...   happy
2          3  ...   happy
3          4  ...   happy
4          5  ...   happy
...      ...  ...     ...
10012  10016  ...   angry
10013  10017  ...   angry
10014  10018  ...   angry
10015  10019  ...   angry
10016  10019  ...   angry

[10017 rows x 4 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10017 entries, 0 to 10016
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sl no       10017 non-null  int64
 1   Tweets      10017 non-null  object
 2   Search key  10017 non-null  object
 3   Feeling     10017 non-null  object
dtypes: int64(1), object(3)
memory usage: 313.2+ KB

In [ ]:
df.drop(columns = ['Search key'],inplace = True)
df

       Sl no                                             Tweets Feeling
0          1   #1: @fe ed "RT @MirayaDizon1: Time is ticking...   happy
1          2   #2: @ËìÆËä± &„ÅØ„Åô„Åã ed "RT @ninjaryugo: ÔºÉ„Ç≥„Éä„É¢„É≥„ÅÆÊó• „Å†„Åù„ÅÜ„Åß...   happy
2          3   #3: @Ris ‚ô° ed "Happy birthday to one smokin h...   happy
3          4   #4: @ÏõîÏõî [ÏîçÏØ¥ÏÇ¨ÎûëÎ°úÎ¥á] jwinnie is the best, cheer u...   happy
4          5   #5: @Madhurima wth u vc‚ô• ed "Good morning dea...   happy
...      ...                                                ...     ...
10012  10016  Tweet #85: @Matteo tweeted "@GameSpot @Frannkc...   angry
10013  10017  Tweet #86: @ùêöùêßùê¢ùê¨ùê≠ùê®ùêß tweeted "@BRATgiirl_ that‚Äô...   angry
10014  10018  Tweet #87: @Chowkidar Ricky Sharma tweeted "@M...   angry
10015  10019  Tweet #88: @Katoe.EXE tweeted "u know what i h...   angry
10016  10019  Tweet #88: @Katoe.EXE tweeted "u know what i h...   angry

[10017 rows x 3 columns]

In [ ]:
new_df = df.to_csv('newdtfile.csv',index=False)
new_df

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Classroom/int246 project/newdtfile.csv')
df

       Sl no                                             Tweets Feeling
0          1   #1: @fe ed "RT @MirayaDizon1: Time is ticking...   happy
1          2   #2: @ËìÆËä± &„ÅØ„Åô„Åã ed "RT @ninjaryugo: ÔºÉ„Ç≥„Éä„É¢„É≥„ÅÆÊó• „Å†„Åù„ÅÜ„Åß...   happy
2          3   #3: @Ris ‚ô° ed "Happy birthday to one smokin h...   happy
3          4   #4: @ÏõîÏõî [ÏîçÏØ¥ÏÇ¨ÎûëÎ°úÎ¥á] jwinnie is the best, cheer u...   happy
4          5   #5: @Madhurima wth u vc‚ô• ed "Good morning dea...   happy
...      ...                                                ...     ...
10012  10016  Tweet #85: @Matteo tweeted "@GameSpot @Frannkc...   angry
10013  10017  Tweet #86: @ùêöùêßùê¢ùê¨ùê≠ùê®ùêß tweeted "@BRATgiirl_ that‚Äô...   angry
10014  10018  Tweet #87: @Chowkidar Ricky Sharma tweeted "@M...   angry
10015  10019  Tweet #88: @Katoe.EXE tweeted "u know what i h...   angry
10016  10019  Tweet #88: @Katoe.EXE tweeted "u know what i h...   angry

[10017 rows x 3 columns]

In [ ]:
import nltk
nltk.download('stopwords')
stopword_list = nltk.corpus.stopwords.words('english')
stopword_list.remove('no')
stopword_list.remove('not')
len(stopword_list)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

177

In [ ]:
# Remove HTML Tag
from bs4 import BeautifulSoup
def html_tag(text):
  soup = BeautifulSoup(text,"html.parser")
  new_text = soup.get_text()
  return new_text

In [ ]:
# Expand Contractions
!pip install contractions

Collecting contractions
  Downloading contractions-0.0.58-py2.py3-none-any.whl (8.0 kB)
Collecting textsearch>=0.0.21
  Downloading textsearch-0.0.21-py2.py3-none-any.whl (7.5 kB)
Collecting pyahocorasick
  Downloading pyahocorasick-1.4.2.tar.gz (321 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 321 kB 36.6 MB/s
Collecting anyascii
  Downloading anyascii-0.3.0-py3-none-any.whl (284 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 284 kB 54.0 MB/s
Building wheels for collected packages: pyahocorasick
  Building wheel for pyahocorasick (setup.py) ... done
  Created wheel for pyahocorasick: filename=pyahocorasick-1.4.2-cp37-cp37m-linux_x86_64.whl size=85447 sha256=e6ae1965dcc83f58b8cfa4123eae7e206f66690b817d02813f2f80f33322a4af
  Stored in directory: /root/.cache/pip/wheels/25/19/a6/8f363d9939162782bb8439d886469756271abc01f76fbd790f
Successfully built pyahocorasick
Installing collected packages: pyahocorasick, anyascii, textsearch, contractions
Successfully installed anyascii-0.3.0 contractions-0.0.58 pyahocorasick-1.4.2 textsearch-0.0.21

In [ ]:
import contractions
def con(text):
  expand = contractions.fix(text)
  return expand

con("U all can't expand I'd think")

'you all cannot expand I would think'

In [ ]:
# Removal of Special Characters
import re
def remove_sp(text):
  pattern = r'[^A-Za-z0-9]'
  text = re.sub(pattern,' ',text)
  return text

remove_sp("Well this was fun! What do you think? 123#")

'Well this was fun  What do you think  123 '

In [ ]:
# Removal of Numbers
def remove_num(text):
  result = re.sub(r'\d +',' ',text)
  return result

remove_num("There are 3 balls in this bag, and 12 in the other one.")

'There are  balls in this bag, and 1 in the other one.'

In [ ]:
import inflect
p = inflect.engine()
  
# convert number into words
def convert_number(text):
    # split string into list of words
    temp_str = text.split()
    # initialise empty list
    new_string = []
  
    for word in temp_str:
        # if word is a digit, convert the digit
        # to numbers and append into the new_string list
        if word.isdigit():
            temp = p.number_to_words(word)
            new_string.append(temp)
  
        # append the word as it is
        else:
            new_string.append(word)
  
    # join the words of new_string to form a string
    temp_str = ' '.join(new_string)
    return temp_str
  
convert_number('There are 3 balls in this bag, and 12 in the other one.')

'There are three balls in this bag, and twelve in the other one.'

In [ ]:
# Tokenization
from nltk.tokenize.toktok import ToktokTokenizer
tokenizer = ToktokTokenizer()

In [ ]:
# Removal of Stop Words
def remove_stopwords(text):
  tokens = tokenizer.tokenize(text)
  tokens = [token.strip() for token in tokens]
  filtered_tokens = [token for token in tokens if token not in stopword_list]
  filtered_text = '  '.join(filtered_tokens)
  return filtered_text

In [ ]:
df.Tweets = df.Tweets.apply(lambda x:x.lower())

df.Tweets = df.Tweets.apply(html_tag)

df.Tweets = df.Tweets.apply(con)

df.Tweets = df.Tweets.apply(remove_sp)

df.Tweets = df.Tweets.apply(remove_stopwords)

df.Tweets = df.Tweets.apply(remove_num)

df.Tweets = df.Tweets.apply(convert_number)


df.tail()

       Sl no                                             Tweets Feeling
10012  10016  tweet eight matteo tweeted gamespot frannkches...   angry
10013  10017  tweet eight tweeted bratgiirl irritating wish ...   angry
10014  10018  tweet eight chowkidar ricky sharma tweeted mam...   angry
10015  10019  tweet eight katoe exe tweeted know hate indie ...   angry
10016  10019  tweet eight katoe exe tweeted know hate indie ...   angry